{% extends 'base.html.twig' %}
{% block title %}The Good News
{% endblock %}
{% block body %}
	<div class="row">
		{% for article in articles %}
			<div class="col-4 p-2 d-flex">
				<div class="card bg-dark text-light">
					<div class="card-body">
						<h5 class="card-title text-justify text-warning">
							<b>{{article.title}}</b>
						</h5>
						<p class="card-text text-justify">
							{{article.content}}
						</p>
						<p class="card-text text-danger">
							{{article.dateCreated|date('d/m/Y')}}
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
