{% extends 'base.html.twig' %}
{% block title %}The Good News
{% endblock %}
{% block body %}
	<div class="row">
		{% for categorie in categories %}
			<div class="card bg-dark text-light col-4">
				<div class="card-body">
					<h3>
						<span class="text-danger">{{categorie.title}}</span>
					</h3>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
