{% extends 'base.html.twig' %}
{% block title %}NedsNews
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12 index text-center">
			<div>NERDS</div>
			<div>NEWS</div>
		</div>
	</div>
{% endblock %}
